## Libs

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data Exploration

In [2]:
data = pd.read_csv('../data/dataset.csv')
data.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,ö85123A^,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,Ww2.55,&17850.0#,United Kingdom
1,536365,ö71053^,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,XxYUnited Kingdom☺️
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365ä,ö84029G^,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,Ww3.39,17850.0,XxYUnited Kingdom☺️
4,536365,84029E,$RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,Ww3.39,&17850.0#,XxYUnited Kingdom☺️
5,536365,22752,$SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,XxYUnited Kingdom☺️
6,536365ä,21730,$GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,&17850.0#,XxYUnited Kingdom☺️
7,536366,ö22633^,$HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,XxYUnited Kingdom☺️
8,536366ä,ö22632^,$HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,&17850.0#,United Kingdom
9,536367ä,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,XxYUnited Kingdom☺️

In [3]:
data.shape

(541909, 8)

In [4]:
data.isna().sum()

InvoiceNo           0
StockCode           0
Description      1006
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     108047
Country             0
dtype: int64

In [5]:
data.duplicated().sum()

113

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540903 non-null  object
 3   Quantity     541909 non-null  object
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  object
 6   CustomerID   433862 non-null  object
 7   Country      541909 non-null  object
dtypes: object(8)
memory usage: 33.1+ MB

In [7]:
data.nunique()

InvoiceNo      44670
StockCode       7813
Description     7948
Quantity        1064
InvoiceDate    23260
UnitPrice       2023
CustomerID      8472
Country           76
dtype: int64

## Data Cleaning

In [8]:
# initially removing the duplicates from the data
data_1 = data.drop_duplicates().reset_index(drop=True)

In [9]:
data_1.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,ö85123A^,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,Ww2.55,&17850.0#,United Kingdom
1,536365,ö71053^,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,XxYUnited Kingdom☺️
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365ä,ö84029G^,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,Ww3.39,17850.0,XxYUnited Kingdom☺️
4,536365,84029E,$RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,Ww3.39,&17850.0#,XxYUnited Kingdom☺️

In [10]:
data_1['Country'].unique()

array(['United Kingdom', 'XxYUnited Kingdom☺️', 'France', 'XxYFrance☺️',
       'XxYAustralia☺️', 'Australia', 'Netherlands', 'Germany',
       'XxYGermany☺️', 'Norway', 'XxYNorway☺️', 'EIRE', 'XxYEIRE☺️',
       'Switzerland', 'XxYSwitzerland☺️', 'Spain', 'XxYSpain☺️',
       'XxYPoland☺️', 'Poland', 'XxYPortugal☺️', 'Portugal', 'XxYItaly☺️',
       'Italy', 'XxYBelgium☺️', 'Belgium', 'XxYLithuania☺️', 'Lithuania',
       'XxYJapan☺️', 'Japan', 'Iceland', 'XxYIceland☺️',
       'Channel Islands', 'XxYChannel Islands☺️', 'Denmark',
       'XxYDenmark☺️', 'Cyprus', 'XxYCyprus☺️', 'Sweden', 'Austria',
       'XxYIsrael☺️', 'Israel', 'XxYFinland☺️', 'Finland', 'XxYAustria☺️',
       'XxYSweden☺️', 'XxYNetherlands☺️', 'XxYBahrain☺️', 'Greece',
       'XxYGreece☺️', 'Hong Kong', 'XxYHong Kong☺️', 'Singapore',
       'XxYSingapore☺️', 'Lebanon', 'XxYLebanon☺️',
       'United Arab Emirates', 'XxYUnited Arab Emirates☺️',
       'Saudi Arabia', 'XxYSaudi Arabia☺️', 'XxYCzech Republic☺️',
       'Czech Republic', 'Canada', 'XxYCanada☺️', 'Unspecified',
       'XxYUnspecified☺️', 'Brazil', 'XxYBrazil☺️', 'USA', 'XxYUSA☺️',
       'XxYEuropean Community☺️', 'European Community', 'Bahrain',
       'Malta', 'XxYMalta☺️', 'XxYRSA☺️', 'RSA'], dtype=object)

### General cleaning function

In [11]:
def clean_data(data):
    """
    This function cleans a pandas DataFrame by:
        - Removing special characters from InvoiceNo, StockCode, Description and Country.
        - Converting the Quantity and UnitPrice columns to numeric data types (assuming they represent numbers).
        - Standardizing the format of the InvoiceDate column (assuming YYYY-MM-DD format is desired).

    Args:
        data: A pandas DataFrame containing the dataset.

    Returns:
        A pandas DataFrame containing the cleaned data.
    """

    # cleanng the customer column
    data['Country'] = data['Country'].str.replace("XxY", "", regex=True).str.rstrip("☺️")

    # Define columns to clean special characters from
    cols_clean_special_chars = ['InvoiceNo', 'StockCode', 'Description']

    # Clean special characters using regular expressions
    for col in cols_clean_special_chars:
        data[col] = data[col].str.replace(r'[^\w\s]', '', regex=True)

    extra_clean = ['InvoiceNo', 'StockCode', 'CustomerID']
    # making sure there's only numbers in the columns
    for col in extra_clean:
        data[col] = data[col].str.replace(r'\D', '', regex=True)

    # Try converting Quantity and UnitPrice to numeric (handle errors)
    for col in ['Quantity', 'UnitPrice']:
        try:
            # Assuming data contains numbers with potential separators (".", "w")
            data[col] = pd.to_numeric(data[col].str.replace(r'[^\d\-+\.]', '', regex=True))
        except:
            print(f"Error converting column {col} to numeric, data may contain invalid formats.")

    # Standardize InvoiceDate format (assuming desired format is YYYY-MM-DD)
    try:
        data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'], format='%Y-%m-%d %H:%M:%S')
    except:
        print(f"Error parsing InvoiceDate, data may contain invalid formats.")
        

    return data

In [12]:
data_2 = clean_data(data_1)

In [15]:
data_2.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123,WHITE HANGING HEART TLIGHT HOLDER,6,2010-12-01 08:26:00,2.55,178500,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,178500,United Kingdom
2,536365,84406,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,178500,United Kingdom
3,536365,84029,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,178500,United Kingdom
4,536365,84029,RED WOOLLY HOTTIE WHITE HEART,6,2010-12-01 08:26:00,3.39,178500,United Kingdom

In [16]:
# checking for nan
data_2.isna().sum()

InvoiceNo           0
StockCode           0
Description      1006
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     108047
Country             0
dtype: int64

In [ ]:
# dropping missing values based on the description of the data
data_3 = data_2.dropna(subset=['Description']).reset_index(drop=True)
data_3.head()

In [20]:
# saving cleaned data
data_3.to_csv('../data/cleaned_data.csv', index=False)

## Comment

- This data is a record of items that are purchased by customers in a company.
- There is a lot of missing values in the Customer-ID column. 
- Since a vector database will be created for this data, it can be said to be a database that has the products description. 
- Document searching such a database will help get similar contents that are closer to the query.

In [21]:
data_3.nunique()

InvoiceNo      24894
StockCode       3354
Description     4199
Quantity         690
InvoiceDate    22665
UnitPrice       1630
CustomerID      4373
Country           38
dtype: int64

In [22]:
# creating a dataframe with just the unique stock codes and it's descirptions
unique_stock_codes = data_3['StockCode'].unique()
unique_descriptions = data_3.groupby('StockCode').first()['Description'].values
unique_data = pd.DataFrame({'StockCode': unique_stock_codes, 'Description': unique_descriptions})
unique_data.head()

  StockCode                       Description
0     85123                           POSTAGE
1     71053  Dotcomgiftshop Gift Voucher 1000
2     84406  Dotcomgiftshop Gift Voucher 2000
3     84029  Dotcomgiftshop Gift Voucher 3000
4     22752  Dotcomgiftshop Gift Voucher 4000

In [23]:
unique_data.shape

(3354, 2)

In [24]:
unique_data['Description'].nunique()

3284

In [25]:
# Creating a text file with the unique stock codes and descriptions. 
# It will be ; Product: description, product stock code: Stock code
with open('../data/unique_descriptions.txt', 'w') as file:
    for i, row in unique_data.iterrows():
        file.write(f"Product: {row['Description']}, product stock code: {row['StockCode']}\n")

## Creating Vector Database

In [ ]:
import os
from pinecone import Pinecone
from langchain.embeddings.openai import OpenAIEmbeddings
from google.colab import userdata
from langchain_community.document_loaders import Docx2txtLoader
from langchain.text_splitter import RecursiveCharacterTextSplitter
from langchain_community.document_loaders import TextLoader
from langchain_openai import OpenAIEmbeddings
from langchain_text_splitters import CharacterTextSplitter
from pinecone import Pinecone, ServerlessSpec
from langchain_pinecone import PineconeVectorStore